.chemistry-texture{
  position: absolute;
  right: 10%;
  bottom: 0;
}

#wrap #header .lng-select {
  color: #c6c6c6;
  position: absolute;
  left: 15%;
  display: flex;
  align-items: center;
}

#wrap #header .lng-select .kor {
  padding-right: 10px;
  border-right: 1px solid #c6c6c6;
}

#wrap #header .lng-select .eng {
  padding-left: 10px;
}

.sitem02-wrap .lt-item .sm2-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitem02-wrap .lt-item .sm2-buttons #in-p {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcc2a;
  width: 144px;
  height: 46px;
  text-align: center;
  border-radius: 23px;
  color: #ffcc2a;
  margin-right: 20px;
}

.sitem02-wrap .lt-item .sm2-buttons #v-call {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffcc2a;
  width: 144px;
  height: 46px;
  text-align: center;
  border-radius: 23px;
  color: black;
}

.sitem03-wrap .title {
  font-size: 30px;
  line-height: 36px;
  font-family: "Urbanist-Medium";
  text-align: left;
  color: #ffff;
  padding-left: 165px;
  padding-bottom: 70px;
}

.sitem03-wrap .body .service-sections {
  display: flex;
  padding-left: 200px;
  padding-right: 200px;
}

.sitem03-wrap .body .service-sections .sr-section {
  width: 260px;

  margin-right: 40px;
  margin-left: 40px;
}

.sitem03-wrap .body .service-sections .sr-section .image-section {
  height: 290px;
  /* padding: 10px 15px 10px; */
  border-radius: 10px;
  transform: rotate(-4deg);
}

.sitem03-wrap .body .service-sections .sr-section .image-section.one {
  background-color: #ff224f;
}

.sitem03-wrap .body .service-sections .sr-section .image-section.two {
  background-color: #6b52d5;
}

.sitem03-wrap .body .service-sections .sr-section .image-section.three {
  background-color: #ffb000;
}

.sitem03-wrap .body .service-sections .sr-section .image-section img {
  height: 100%;
  width: 100%;
  transform: rotate(4deg);
}

.sitem03-wrap .body .service-sections .sr-section .bd-title {
  font-size: 20px;
  line-height: 24px;
  font-family: "Urbanist-Bold";
  color: #ffff;
  margin-top: 30px;
}

.sitem03-wrap .body .service-sections .sr-section .subtitle {
  font-size: 16px;
  line-height: 19px;
  color: #a3a3a3;
  margin-top: 20px;
}

.sitem04-new-wrap {
  margin-top: 240px;
  margin-bottom: 240px;
}

.sitem04-new-wrap .sitem04-title {
  font-family: "Urbanist-ExtraBold";
  font-size: 38px;
  line-height: 46px;
  color: #ffff;
  text-align: center;
  margin-bottom: 80px;
}

.sitem04-body .progresses {
  display: flex;
  justify-content: center;
  width: 347px;
  margin: auto;
}

.sitem04-body .progresses .pr {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  position: relative;
  top: -12px;
}

.under-text-first {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
  font-family: "Urbanist-Bold";
  left: -30px;
}

.under-text-last {
  position: absolute;
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
  font-family: "Urbanist-Bold";
}

.strnge {
  position: relative;
}
.upper-text {
  font-family: "Urbanist-Bold";
  font-size: 14px;
  line-height: 17px;
  color: #ffff;
  padding-bottom: 10px;
}

.sitem05-wrap {
  padding-left: 155px;
  padding-right: 155px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.sitem05-left {
  width: 50%;
}

.sitem05-right {
  width: 50%;
  margin-left: 100px;
}

.sitem05-left .sitem05-image-section img {
  width: 388px;
  height: auto;
}

.sitem06-wrap {
  padding-left: 164px;
  padding-right: 164px;
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.sitem06-left {
  width: 50%;
}

.sitem06-right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.sitem06-right .sitem06-image-section img {
  width: 450px;
  height: auto;
}

.sitem07-wrap {
  padding-left: 164px;
  padding-right: 164px;
  display: flex;
  align-items: center;
  /* margin-bottom: 120px; */
}

.sitem07-left {
  width: 50%;
}

.sitem07-right {
  width: 50%;
  margin-left: 100px;
}

.sitem07-left .sitem05-image-section img {
  width: 482px;
  height: auto;
}

.sitem05-image-section {
  width: 410px;
  height: 410px;
  background-color: #ff224f;
  border-radius: 110px;
  transform: rotate(-20deg);
  position: relative;
}

.sitem06-image-section {
  width: 410px;
  height: 410px;
  background-color: #05ac67;
  border-radius: 110px;
  transform: rotate(20deg);
  position: relative;
}

.sitem07-image-section {
  width: 410px;
  height: 410px;
  background-color: #ffcc2a;
  border-radius: 110px;
  transform: rotate(-35deg);
  position: relative;
}

.sitem05-image-section img {
  transform: rotate(20deg);
  position: absolute;
  top: -30%;
  left: -12%;
}

.sitem06-image-section img {
  transform: rotate(-20deg);
  position: absolute;
  top: 7%;
  left: -9%;
}

/* Change from here */

.sitem07-image-section img {
  transform: rotate(35deg);
  position: absolute;
  top: -6%;
  left: -12%;
}
.sitem-title {
  font-size: 38px;
  font-family: "Urbanist-Bold";
  line-height: 46px;
  color: #ffff;
  padding-bottom: 10px;
}

.sitem-subtitle {
  font-family: "Urbanist-SemiBold";
  font-size: 30px;
  line-height: 36px;
  color: #ffff;
  padding-bottom: 10px;
}

.sitem-body ul li {
  color: #a3a3a3;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Urbanist-Medium';
}

/* stop here */


.sitem-button {
  margin-top: 40px;
}

.sitem-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcc2a;
  width: 144px;
  height: 46px;
  text-align: center;
  border-radius: 23px;
  color: #ffcc2a;
  margin-right: 20px;
}

/* profile new page design */

.profile-wrap {
  margin-top: 135px;
  margin-bottom: 140px;
}

.profile-wrap .title {
  text-align: center;
  color: #ffcc2a;
  font-family: "Urbanist-Bold";
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 19px;
}

.profile-wrap .border {
  width: 900px;
  height: 2px;
  margin: auto;
  background-color: #ffcc2a;
}

.profile-wrap .image-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.profile-wrap .image-section img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.progress-image {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  margin-bottom: 47px;
}
.progress-image img {
}

.details-card {
  width: 540px;
  margin: auto;
  border-radius: 8px;
  border: solid 1px #535353;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.details-card .sec {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: "Urbanist-SemiBold";
}

.sec span img {
  padding-left: 3px;
  padding-right: 3px;
}
.sec div div {
  padding-top: 5px;
  padding-bottom: 5px;
}
.sec div div .lng {
  padding-right: 10px;
}

.sec div div .ln-level {
  color: #a3a3a3;
  padding-left: 40px;
}

.about-me-sec div {
  font-size: 20px;
  line-height: 25px;
  color: #ffff;
  font-family: "Urbanist-Medium";
  padding-bottom: 16px;
}

.about-me-input {
  width: 100%;
  background-color: #222222;
  border-radius: 8px;
  border: none;
  border: 1px solid #535353;
  height: 185px;
}

input,
textarea {
  color: white;
}

.people-review {
  margin-top: 30px;
  margin-bottom: 40px;
}

.people-review .rv-title {
  text-align: center;
  font-family: "Urbanist-SemiBold";
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
  padding-bottom: 20px;
}

.people-review .review-card {
  width: 540px;
  margin: auto;
  border-radius: 8px;
  border: 1px solid #535353;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #2b2b2b;
}

.people-review .review-card .rv-sec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rv-sec {
  padding-top: 15px;
  padding-bottom: 15px;
}

.rv-sec .name {
  width: 25%;
  color: #23ffe9;
  font-family: "Urbanist-Medium";
  font-size: 20px;
  line-height: 24px;
}

.rv-sec .status {
  width: 75%;
  font-family: "Urbanist-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
}

.rv-sec .status div {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rv-sec .number {
  width: 25%;
  text-align: right;
  font-family: "Urbanist-Medium";
  font-size: 20px;
  line-height: 24px;
  color: #ffff;
  display: flex;
  justify-content: flex-end !important;
}

.call {
  margin-top: 135px;
  margin-left: 270px;
  margin-right: 270px;
}

.call .content .tab {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #535353;
}

.call .tab a {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-family: "Urbanist-Bold";
  color: #ffffff;
  padding-bottom: 19px;
}

.call .tab-cont {
  display: none;
}

.call .content .tab a.on {
  border-bottom: 1px solid #ffcc2a;
  color: #ffcc2a;
}
.call .tab-cont.on {
  display: block;
}

.sections .title {
  font-family: 22px;
  line-height: 27px;
  color: #ffffff;
  font-family: "Urbanist-Bold";
  padding-top: 60px;
  padding-bottom: 30px;
}

.sections {
  border-bottom: 1px solid #535353;
}

.sections .inputs {
  display: flex;

  padding-right: 40px;
}

.inputs label {
  font-family: 18px;
  line-height: 22px;
  color: #ffffff;
  font-family: "Urbanist-SemiBold";
  display: flex;
  align-items: center;
}

input[type="radio"]:checked {
  background-color: #ffcc2a;
}

.inputs input {
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  margin-right: 10px;
}

.section-inputs {
  display: flex;
}

.last-title {
  font-size: 18px;
  line-height: 22px;
  color: #a3a3a3;
  font-family: "Urbanist-Medium";
  margin-top: 40px;
  margin-bottom: 40px;
}

.country .inputs label {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffcc2a;
  border-radius: 23px;
}
.country .inputs input {
  display: none;
}

input[type="radio"]:checked ~ label {
  background-color: #ffcc2a;
  color: #222222;
}

.country {
  flex-wrap: wrap;
}

.content .inputs {
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.tab-cont-wrp {
  margin-bottom: 140px;
}

.sections .title span {
  width: 70%;
}

.sections .title .choose {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}
.sections .title .choose {
  color: #ffcc2a;
  font-family: "Urbanist-SemiBold";
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}


.bg-text-left{
  position: absolute;
  bottom: 18%;
  left: 10%;
}

.bg-text-left img{
  width: 160px;
  height: 134px;
}

.bg-text-right{
  position: absolute;
  top: 20%;
  right: 10%;
}

.bg-text-right img{
  width: 136px;
  height: 145px;
}

.about-me-buttons .abt-me-button{
  
    display: flex;
    align-items: center;
    width: 380px;
    height: 62px;
    border-radius: 31px;
    border: solid 1px #ffcc2a;
    justify-content: center;
    color: #ffcc2a;
    font-family: 'Urbanist-Bold';
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 20px;
  
}

.page-item-wrap-new{
  margin-top: 80px;
  margin-bottom: 140px;
  text-align: center;
}

.page-item-wrap-new .title-one{
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  font-family: 'Urbanist-Medium';
  margin-bottom: 60px;
  
}

.page-item-wrap-new .title-two{
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
  font-family: 'Urbanist-Bold';
  margin-bottom: 40px;
}

.about-me-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pop-wrap-event{
  width: 560px;
  height: auto;
  border-radius: 10px;
  background-color: #fff;
  padding-top: 64px;
  
  position: relative;
}

.pop-wrap-event .body{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 400px;
  overflow-y: auto;
}

.travel_second .pop-wrap-event .body{
  height: 230px;
}
.cross-button{
  position: absolute;
  right: 4%;
  top: 3%;
  cursor: pointer;
}

.add .add-button img{
  width: 15px;
  height: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.cross img{
  width: 15px;
  height: 15px;
  padding-left: 10px;
}

.pop-wrap-event .title{
  font-size: 20px;
  line-height: 24px;
  font-family: 'Urbanist-Bold';
  color: #222222;
  width: 300px;
  text-align: center;
}

.pop-wrap-event .sub-title{
  font-size: 14px;
  line-height: 17px;
  font-family: 'Urbanist-Medium';
  color: #222222;
  padding-top: 10px;
  white-space: pre-line;
}

.pop-wrap-event .pop-body img{
  margin-top: 20px;
  width: 220px;
  
}

.pop-wrap-event .footer{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer .start-travel{
  width: 191px;
  height: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  background-color: #ffcc2a;
  font-family: 'Urbanist-Bold';
}

.date-from-to input[type="date"]{
    color: #808080;
    width: 216px;
    height: 54px;
    border-radius: 8px;
    border: solid 1px #ededed;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-fields div label{
  font-size: 16px;
  line-height: 19px;
  font-family: 'Urbanist-Bold';
  color: #222222;
  padding-left: 5px;
  
}

.input-fields div{
  margin-bottom: 10px;
  
}

.input-fields .date-from-to input[type="text"]{
  width: 100%;
  height: 54px;
  border-radius: 8px;
  border: solid 1px #ededed;
  margin-left: 5px;
  margin-right: 5px;
  color: #808080;
  
}

.body .form-group select{
  width: 209px;
  height: 54px;
  border-radius: 8px;
  border: solid 1px #ededed;
}

.travel_first .pop-wrap-event .body{
  height: 250px;
}

.speak-level{
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.speak-level .cross{
  margin-left: 7px;
}

.speak-level select{
  width: 209px;
  height: 54px;
  
  padding: 15px 20px;
  /* margin-left: 10px; */
  margin-right: 10px;
  border-radius: 8px;
  border: solid 1px #ededed;
  background-color: #ffffff;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Urbanist-Medium';
  color: #808080;
}


.speak-levels-body{
  padding-bottom: 30px;
  border-bottom: 1px solid #ededed;
}


.add{
  /* margin-top: 20px; */
}

.add-button{
  cursor: pointer;
  font-family: 'Urbanist-Bold';
  font-size: 14px;
  line-height: 17px;
  color: #222222;

}

.cross{
  cursor: pointer;
}

.set-up-card{
  width: 580px;
  height: auto;
  padding: 20px 0;
  border-radius: 20px;
  border: solid 1px #535353;
  background-color: #2b2b2b;
  margin: auto;
  margin-bottom: 60px;
}

.card-header{
  height: 83px;
  border-bottom: 1px solid #535353;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffb600;
  font-size: 36px;
  line-height: 43px;
  font-family: 'Urbanist-Bold';
}

.card-body{
  border-bottom: 1px solid #535353;
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-body .txt{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.txt .title{
  font-family: 'Urbanist-Medium';
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

}

.txt .text{
  font-family: 'Urbanist-Bold';
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.card-footer{
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.card-footer a{
  width: 156px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: solid 1px #535353;
  background-color: #2b2b2b;
  color: #ffffff;
  font-size: 18px;
  line-height: 22px;

}

.card-footer a img{
  padding-right: 10px;
}

.abt-me-button.active{
  background-color: #ffcc2a;
  color: #222222;
}

.after-header{
  background-color: #2b2b2b;
  display: flex;
  justify-content: space-between;
  padding-left: 164px;
  padding-right: 164px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.after-header .left{
  font-family: 'Urbanist-Medium';
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

.after-header .right .edit span{
  font-family: 'Urbanist-Bold';
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-left: 5px;
}

.right .edit{
  cursor: pointer;
}

#after-header{
  padding-top: 60px;
}

.info ul li{
  font-family: 'Urbanist-Bold';
  font-size: 20px;
  line-height: 24px;
  color:#a3a3a3;
  padding-bottom: 10px;
  list-style: none;
}

.info ul li::before {
  content: "\2022";  
  color: #ffffff; 
  /* font-weight: bold;  */
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.cards .card{
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: auto;
  border: 1px solid #535353;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.card .left{
  text-align: left;
}

.right .move-button a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color:#ffcc2a;
  border-radius: 50%;

}

.right .move-button a.odd{
  
  background-color:#00ffe9;
 

}

.right .move-button{
  margin: auto;
}

.cards{
  margin-top: 60px;
}
.card .left .title{
  font-size: 14px;
  line-height: 17px;
  font-family: 'Urbanist-Bold';
  color:#00ffe9;
  padding-bottom: 10px;
}

.card .left .subtitle{
  font-size: 18px;
  line-height: 22px;
  font-family: 'Urbanist-Bold';
  color: #ffffff;
  padding-bottom: 10px;
}

.card .left .info{
  font-size: 14px;
  line-height: 17px;
  font-family: 'Urbanist-Bold';
  color:#a3a3a3;
  padding-bottom: 10px;
}

.card .right{
  display: flex;
}

.page-item{
  padding-left: 164px;
}

.images{
  display: flex;
  padding-bottom: 30px;

}

.images .left img{
  height: 553px;
  padding-right: 8px;
}

.right-flex{
  display: flex;
}

.right-flex img{
  height: 272px;

  width: 271px;
  padding-right: 8px;
  padding-bottom: 8px;
}

.page-item .title{
  color: #ffffff;
  font-size: 48px;
  line-height: 58px;
  font-family: 'Urbanist-Medium';
  padding-bottom: 30px;
}

.page-item .subtitle{
  color: #a3a3a3;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Urbanist-Bold';
  padding-bottom: 12px;
}

.page-item .info{
  color: #a3a3a3;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 10px;
}

.page-item .subtitle::before{
  content: "\2022";  
  color: #ffffff; 
  /* font-weight: bold;  */
  display: inline-block; 
  width: 1em;
  margin-left: -1em;
}

.page-item .google-link{
   
  margin-top: 30px;
}
.page-item .google-link a{
  width: 380px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  border: solid 1px #fff;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Urbanist-Bold';
  color: #ffffff;
}

.page-item .google-link a img{
  width: 26px;
  height: 26px;
  padding-right: 5px;
}

.loc-card{
  padding-bottom: 40px;
}

.going-link a{
  width: 305px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  background-color: #ffcc2a;
  margin: auto;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Urbanist-Bold';
  color: #222222;
}

.going-link{
  margin-bottom: 20px;
}
.group-link a{
  width: 305px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 31px;
  border: solid 1px #ffcc2a;
  font-family: 'Urbanist-Bold';
  font-size: 18px;
  line-height: 22px;
  color:#ffcc2a;
  margin: auto;
}

.info-text{
  margin-top: 80px;
  margin-bottom: 140px;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Urbanist-Bold';
  color: #bbfd00;
  text-align: center;
}

.row{
  display: flex;
  padding-left: 164px;
  padding-right: 164px;
  padding-bottom: 40px;
  
}

.all-groups-margin{
  margin-top: 40px;
  margin-bottom: 140px;
}
.group-card{
  width: 50%;
  padding-right: 9px;
  
}

.group-card .image img{
  width: 100%;
  height: 271px;
  object-fit: cover;
}


.group-card .title{
  font-size: 20px;
  line-height: 24px;
  font-family: 'Urbanist-Bold';
  color: #ffffff;
  text-align: left;
  padding-bottom: 10px;
}

.group-card .link{
  text-align: center;
}

.group-card .link a{
  color: #ffcc2a;
  font-family: "Urbanist-Bold";
  font-size: 16px;
  line-height: 19px;
  padding-top: 20px;
}

.group-card .link a img{
  padding-left: 10px;
}

.desktop-hide{
  display: none;
}

.hide-desktop{
  display: none;
}

.hide-mobile{
  display: block;
}



@media screen and (max-width: 1070px){
  #wrap #header .lng-select {
		display: none;
	}
  #header .gnb.on ~ h1 .hide-desktop{
    display: block;
  }
  .hide-mobile{
    display: none;
  }

  .mobile_list li{
    font-size: 14px;
    line-height: 17px;
  }



}

@media only screen and (max-width: 850px) {
  #wrap #header .lng-select {
    display: none;
  }
  .sitem03-wrap .body .service-sections {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sitem03-wrap .body .service-sections .sr-section {
    width: 260px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .sitem04-new-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sitem05-wrap {
    flex-direction: column;
  }

  .sitem05-left {
    width: 100%;
    margin-bottom: 100px;
    /* padding-bottom: 135px; */
  }

  .sitem05-right {
    width: 100%;
    margin-left: 100px;
  }

  .sitem06-wrap {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .sitem06-left {
    order: 2;
    width: 100%;
    margin-bottom: 100px;
    /* padding-bottom: 135px; */
  }

  .sitem06-right {
    width: 100%;
    order: 1;
    padding-bottom: 70px;
  }

  .sitem07-wrap {
    flex-direction: column;
  }

  .sitem07-left {
    width: 100%;
    margin-bottom: 100px;
  }

  .sitem07-right {
    width: 100%;

    /* padding-bottom: 70px; */
  }

  .profile-wrap .border {
    width: 500px;
  }

  .call {
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
  }
  .tab-cont-wrp {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 480px) {
  .page-item-wrap .sitem04-wrap .cont .msg:before {    
    right: 14%;
    top: 28%;
  }

  .sitem-title {
    font-size: 30px;
    
    text-align: center;
}

.sitem-subtitle {
 
  font-size: 22px;
  line-height: 27px;
}

.sitem-body ul li {
  color: #a3a3a3;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 16px;
  line-height: 19px;
  font-family: 'Urbanist-Medium';
}

  .sitem03-wrap .title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    text-align: center;
  }
  .sitem03-wrap .body .service-sections {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .sitem03-wrap .body .service-sections .sr-section {
    width: auto;
    margin-bottom: 50px;
  }

  .sitem04-new-wrap .sitem04-title {
    font-size: 22px;
    margin-bottom: 50px;
  }

  .sitem04-new-wrap {
    margin-top: 100px;
    /* margin-bottom: 50px; */
  }

  .pr img {
    width: 85px;
  }

  .under-text-first {
    font-size: 14px;

    left: -18px;
  }

  .under-text-last {
    font-size: 14px;
  }

  .sitem05-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sitem05-image-section {
    width: 300px;
    height: 300px;

    border-radius: 52px;

    left: 35px;
  }

  .sitem05-right {
    width: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sitem05-left .sitem05-image-section img {
    width: 300px;
  }

  .sitem06-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sitem06-image-section {
    width: 300px;
    height: 300px;

    border-radius: 52px;

    position: relative;
  }

  .sitem06-right .sitem06-image-section img {
    width: 350px;
  }

  .sitem06-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sitem-subtitle {
    text-align: center;
  }

  .sitem07-wrap {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sitem07-image-section {
    width: 300px;
    height: 300px;

    border-radius: 52px;

    left: 35px;
  }

  .sitem07-image-section img {
    width: 370px;
  }

  .sitem07-right {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-wrap .border {
    width: 300px;
  }

  .details-card {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sec div div .ln-level {
    padding-left: 5px;
  }

  .sec div div .lng {
    padding-right: 5px;
  }

  .details-card .sec {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .people-review .review-card {
    margin-left: 10px;
    width: auto;
    margin-right: 10px;
  }

  .call {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .tab-cont-wrp {
    margin-bottom: 20px;
  }
  #container {
    padding-bottom: 20px;
    background: #222222;
    background-size: 100% auto;
    /* padding-top: 1px; */
  }

  .sections .title {
    font-size: 14px;
  }

  .sections .title .choose {
    font-size: 12px;
  }

  .last-title {
    font-size: 12px;
  }

  .country .inputs label {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .bg-text-left{
    display: none;
  }

  .bg-text-right{
    display: none;
  }

  .page-item-wrap-new{
   
  }

  .page-item-wrap-new .title-one{
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 36px;
  }
  .page-item-wrap-new .title-two{
    font-size: 30px;
    margin-bottom: 30px;
    line-height: 36px;
  }

  .about-me-buttons .abt-me-button {
    width: 245px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }

  .pop-wrap-event{
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
  }

  .pop-wrap-event .title {
    font-size: 18px;
    line-height: 22px;
  }
  .pop-wrap-event .sub-title{
    font-size: 14px;
    line-height: 17px;
  }
  .pop-wrap-event .pop-body img {
   
    width: 152px;
    height: auto;
  }
  .footer .start-travel {
    font-size: 14px;
    line-height: 17px;
  }

  .date-from-to input[type="date"] {
    width: 134px;
  }

  .input-fields .date-from-to input[type="text"] {
    width: 325px;
    height: 42px;
  }

  .input-fields div label{
    font-size: 14px;
    line-height: 17px;
  }

  .speak-level select {
    width: 135px;
  }

  .travel_final .pop-wrap-event .body{
    height: auto;
  }

  body{
    position: static;
  }

  #footer{
    position: static;
  }

  .set-up-card {
    width: 380px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .card-header{
    font-size: 20px;
    line-height: 24px;
  }

  .txt .title{
    font-size: 14px;
    line-height: 17px;
  }

  .txt .text{
    font-size: 14px;
    line-height: 17px;
  }

  .card-footer a{
    font-size: 14px;
    line-height: 17px;
  }

  .after-header{
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    flex-direction: column;
  }

  .after-header .left{
    border-bottom: 1px solid#3c3c3c;
    padding-top: 15px;
    padding-bottom: 15px;

  }

  .after-header .left div{
    padding-left: 15px;

  }

  .after-header .right{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    /* padding-bottom: 10px; */
  }

  .page-item-wrap-new{
    /* margin-top: 0px; */
  }

  .info ul li{
    font-size: 14px;
    line-height: 17px;
  }

  .cards .card{
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .card .left .title{
    font-size: 12px;
    line-height: 14px;
  }

  .card .left .subtitle{
    font-size: 14px;
    line-height: 17px;
  }

  .card .left .info{
    font-size: 12px;
    line-height: 18px;
  }

  .right .move-button a{
    width: 30px;
    height: 30px;
  }

  .page-item{
    padding-left: 16px;
    padding-right: 0;
  }

  .page-item .title{
    font-size: 30px;
    line-height: 36px;
  }

  .page-item .subtitle{
    font-size: 14px;
    line-height: 17px;
  }

  .page-item .info{
    font-size: 12px;
    line-height: 14px;
  }

  .page-item .google-link a{
    font-size: 14px;
    line-height: 17px;
  }
  .sc_img_list li img{
    height: 220px;
    object-fit: cover;
    width: 310px!important;
  }

  .mb-hide{
    display: none;
  }

  .desktop-hide{
    display: block;
    /* padding-bottom: 70px; */
  }
  .owl-item.active{
    margin-left: 11px;
    margin-right: 11px;
  }

  .info-text{
    margin-top: 60px;
    margin-bottom: 80px;
    margin-right: 27px;
    margin-left: 27px;
  }

  .page-item .subtitle::before {
    margin-left: 0em;
  }

  .row{
    padding-left: 16px;
    padding-right: 16px;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .group-card{
    width: 45%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 9px;
    padding-right: 9px;


  }

  .group-card .image img{
    height: 159px;
  }

  .group-card .title{
    font-size: 14px;
    line-height: 17px;
  }

  .group-card .link a{
    font-size: 14px;
    line-height: 17px;
  }

  .pt-12{
    margin-top: 0px!important;
  }

  .owl-carousel.owl-loaded {
    /* display: block; */
    height: 300px;
  }

  #header .gnb ul.mobile_list.type01 li a{
    font-size: 14px;
    line-height: 17px;
  }

  #header .gnb ul.mobile_list.type01 li{
    padding-bottom: 5px;
  }

  #header .gnb ul.mobile_list {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .set-up-card{
    width: auto;
  }

  .card-header{
    height: 60px;
  }

  .card-footer{
    height: 60px;
  }

  .card-body .txt {
    padding-left: 20px;
    padding-right: 20px;
  }

  .loc-card {
    padding-bottom: 20px;
    padding-right: 10px;
  }

  #after-header {
    padding-top: 55px;
  }

  #container {
    padding: 50px 0 0px;
    height: auto;
}

  .page-item-wrap-new {
  
    margin-bottom: 50px;
    text-align: center;
}

.all-groups-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.owl-nav{
  display: none;
}

.info-text {
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 16px;
 
}

.page-item {
  padding-left: 10px;
  padding-right: 0;
}

#header .gnb .inner {
  
  padding: 0px 0px 0px;
 
}

.mobile_list .header{
  font-size: 18px;
  line-height: 22px;
  font-family: 'Urbanist-Bold';
  /* padding-left: 10px; */
  padding-top: 10px;
}

#header .gnb ul.mobile_list.type01 li a {
  
  padding-left: 0;
}

.mob-hr{
  color: #ededed;
  margin-top: 10;
  margin-bottom: 0;
}

}


@media screen and (max-width: 392px) {
    .group-card{
      width: 44%;
    }

    .pop-wrap-event .body {
     
      height: 250px;
      
    }
}

@media screen and (max-width: 380px) {
  .group-card{
   
    padding-left: 8px;
    padding-right: 8px;


  }

  .input-fields .date-from-to input[type="text"] {
    width: 320px;
    height: 42px;
  }


  .page-item .google-link a {
    font-size: 12px;
    width: auto;
    height: 40px;
  }

  .speak-level select {
    width: 120px;
    height: 50px;
    font-size: 13px;
  }
  
  
}


@media screen and (max-width: 365px) {
  .date-from-to input[type="date"] {
    width: 118px;
  }
}

@media screen and (max-width: 323px) {

  .input-fields .date-from-to input[type="text"] {
    width: auto;
    height: 42px;
  }
  .group-card{
    width: 44%;
  }

  

  .speak-level select {
    width: 110px;
    height: 45px;
    font-size: 12px;
  }

  .cross img {  
    padding-left: 2px;
    padding-right: 5px;
    width: 10px;
    height: 10px;
  }

 .add .add-button img {
    width: 10px;
    height: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  

  .pr-4{
    /* margin-top: 30px!important; */
  }

  .footer .start-travel { 
    width: 140px;
    height: 35px;
    font-size: 12px;
  }

  .pop-wrap-event .title {
    font-size: 14px;
    /* line-height: 22px; */
  }

  .pop-wrap-event .footer {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .input-fields div label {
    font-size: 12px;
    /* line-height: 17px; */
  }

  .page-item-wrap-new .title-one {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .card-header {
    height: 30px;
    padding-bottom: 10px;
  }

  .card-footer a {
    font-size: 14px;
    line-height: 17px;
    height: 40px;
    width: 110px;
  }

  .card-footer {
    height: 35px;
  }

  .about-me-buttons .abt-me-button {
    width: 150px;
    height: 40px;
    font-size: 12px;
    /* line-height: 17px; */
  }

  .page-item-wrap-new {
    /* margin-top: 0px; */
    margin-bottom: 40px;
  }

  .page-item-wrap-new .title-two {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .pop-wrap-event {
    padding-top: 40px;
  }

  .travel_second .pop-wrap-event .body {
    height: 180px;
  }

  .cards .card {
   
    padding: 15px;
  }

  .edit img{
    width: 10px;
    height: auto;
  }

  .after-header .left {
    font-size: 13px;
  }

  .after-header .right .edit span {
   font-size: 13px;
  }

  .page-item-wrap-new .title-one {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .cards {
    margin-top: 30px;
  }

  .page-item .title {
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
  }
  
  .sc_img_list li img {
    height: 200px;
    object-fit: cover;
    width: 266px!important;
  }

  .owl-item.active {
    margin-left: 5px!important;
    margin-right: 5px!important;
  }

  .owl-carousel.owl-loaded {
    /* display: block; */
    height: 240px;
  }

  .owl-carousel .owl-stage-outer {
   
    height: 100%;
  }

  .owl-carousel .owl-stage {
    height: 100%;
  }

  .going-link a {
    width: 200px;
    height: 40px;
    font-size: 12px;
    
  }

  .group-link a {
    width: 200px;
    height: 40px;
    font-size: 12px;
  }
}
