@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html,body,div,ul,li,p,h3,h1,h2,h4,h5{padding:0;margin:0;line-height:1}
ul,li{list-style:none}
a{text-decoration:none;color:#303030}
textarea,input{font-family: 'Noto Sans KR', sans-serif;}
optgroup,select,button{cursor:pointer}
input::-webkit-input-placeholder{color:#ccc;font-weight:400}
textarea::-webkit-input-placeholder{color:#ccc;font-weight:400}
input::-ms-input-placeholder{color:#ccc;font-weight:400}
textarea::-ms-input-placeholder{color:#ccc;font-weight:400}
input::-moz-placeholder{color:#ccc;font-weight:400}
textarea::-moz-placeholder{color:#ccc;font-weight:400}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 1000px #fff inset}
input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none}
input[type=number]::-webkit-inner-spin-button{-webkit-appearance:none}
select::-ms-expand{display:none}
select{-moz-appearance:none;-webkit-appearance:none;appearance:none}
img{vertical-align:top}
body{width:100%;position:relative;box-sizing:border-box;overscroll-behavior: contain;}
caption{display:none}
*{margin:0;padding:0;text-decoration:none;-webkit-text-size-adjust:none;outline:0;-webkit-appearance:none;
/* -webkit-tap-highlight-color:transparent; */
-webkit-font-smoothing:antialiased}
*{font-family: 'Noto Sans KR', sans-serif;line-height:1em;font-size:14px;color:#303030;box-sizing: border-box;font-weight: normal;letter-spacing: -0.4px;}
i,em {line-height: inherit;font-style: normal}
.blind {display: none  !important;}
.np {padding: 0 !important;}
span,b,i {font-size: inherit;font-weight: inherit;line-height: inherit;color: inherit; letter-spacing: inherit;}
.dimmed {display: none; width: 100%;height: 100%;background-color: #000;opacity: .7;position: fixed;z-index: 10;}
.content {
    overflow-x: hidden;
}

/* ν—¤λ” */

/* ν‘Έν„° */
footer {text-align: center;padding-bottom: 20px;width: 100%;margin-top: 100px;}
footer ul {display: flex;justify-content: center;margin-bottom: 20px;}
footer ul li {margin:0 4px;opacity: .4;}
footer p {font-size: 10px;color:#666;letter-spacing: -0.13px}

.tab_wrap {display: flex;width: 1300px;margin:0 auto;justify-content: center;}
.tab_wrap a {font-size: 20px;color:#000;margin:0 50px;position: relative;}
.tab_wrap a:first-child:after {display: block;width: 1px;height: 25px;background-color: #000;position: absolute;right: -50px;top:50%;content: '';transform: translateY(-50%);}
.tab_wrap a:hover,
.tab_wrap a.on {font-weight: bold;text-decoration: underline;}

.container {width: 1300px;height: auto; margin:0 auto;padding-top: 100px;}
.contents {text-align: center;}
.excel_download {margin:20px 0;display: flex;}
.excel_download a {padding:10px 0;width: 200px;text-align: center;background: #000;color:#fff;display: block;font-weight: bold;margin-left: auto;}
.excel_download a:hover {background-color: #666;}
.table table {table-layout: fixed; border:0.5px solid #ced4da;width: 100%;border-collapse: collapse;width: 100%;}
.table table th {height:48px; background:#fafafb; border-bottom:0.5px solid #ced4da; border-right:0.5px solid #ced4da;}
.table table tr th:last-child {border-right:0;}
.table table tbody {width: 100%;position: relative;}
.table table th strong {display:block; padding:0 18px; font-size: 14px; font-weight: normal; line-height: 1.43; letter-spacing: -0.56px; text-align: left; color: #172029;}
.table table td:first-of-type {text-align: center;}
.table table td {padding:5px 10px; background:#fff; border-bottom:0.5px solid #ced4da; border-right:0.5px solid #ced4da;word-break: break-all;text-align: left;line-height: 1.6;vertical-align: bottom;}
.table table td button {border: 1px solid #3389ff;background: #fff;width: 18px;height: 18px;}
.table table td button:hover {background-color: #ddd;}
.table table td:last-child {border-right:0;}
.table .btn_del {border: 0 solid #000;opacity: .5;}
.table .btn_del:hover {opacity: 1;}
.table .btn_del img {width: 15px;}
.table select {
    width: 100%;
    padding: 6px 10px 6px 12px;
    border-radius: 3px;
    border: solid 0.5px #ced4da;
    background: #fff url(../img/btn_drop_down_s.png) no-repeat right 5px top 50% / 10px;
}
.table.type td {vertical-align: middle;}
.paging {margin-top: 20px;}
.paging ul {text-align:center;}
.paging ul li {display:inline-block; margin:0 4px; vertical-align:middle;}
.paging ul li.img a {line-height:0;}
.paging ul li a {display: flex;justify-content: center;align-items: center; width: 32px; height: 32px; border-radius: 3px; border: solid 0.5px #CED4DA; background-color: #ffffff; font-size: 16px; font-weight: normal; line-height: 1.31; letter-spacing: -0.8px; text-align: center; color: #6a7584;}
.paging ul li a img {width:22px;}
.paging ul li.off a {border: solid 0.5px #ced4da; background-color: #ffffff;}
.paging ul li.off a img {opacity:0.5;}
.paging ul li.on a,
.paging ul li:hover a {border: solid 0.5px #3389ff; color:#3389ff;}

.popup_box {position: fixed;left: 50%;top:50%;transform: translate(-50%,-50%); width: 500px;padding:40px 20px 20px;background-color: #f3f4f6;display: none;z-index: 200;}
.popup_box .inner {background-color: #fff;min-height: 100px;}
.popup_box ul {display: flex;flex-wrap: wrap;padding:20px 10px;margin-top: 20px;}
.popup_box ul li {cursor: pointer;margin-left: 10px;}
.popup_box ul li.on {font-weight: bold;color:#ff0000;}
.popup_box input {width: 100%;padding: 13px 15px 13px 18px;border-radius: 3px;border: solid 0.5px #cecece; background-color: #fff;}
.popup_box .btn_wrap {margin: 20px auto 0;display: flex;justify-content: center;}
.popup_box button {margin:0 5px;}
.popup_box button.btn_ok {display: block; width: 108px;height: 48px;padding: 12px 26px;border-radius: 3px;background-color: #4d93f3;color:#fff;border: 0 solid #000;font-weight: bold;}
.popup_box button.btn_ok:hover {background-color: #3776cc;}
.popup_box button.btn_cancel {display: block; width: 108px;height: 48px;padding: 12px 26px;border-radius: 3px;background-color: #e9ebef;color:#6a7584;border: 0 solid #000;font-weight: bold;}
.popup_box button.btn_cancel:hover {background-color: #ced4da;}
.popup_box .btn_closed {position: absolute;right: 10px;top:10px;border: 0 solid #000;}
.popup_box .btn_closed img {width: 20px;}

.popup_box .tit {text-align: center;font-size: 20px;margin-bottom: 10px;}
.add_wrap {display: flex;justify-content: center;margin:30px auto;}
.add_wrap button {width: 150px;height: 48px;margin: 0 10px;padding: 12px 0;border-radius: 3px;border: solid 1px #3389ff;background-color: #fff;}
.add_wrap button:hover {background-color: #eee;}
.add_wrap button span {font-weight: bold;color:#3389ff;padding-right: 20px;background: url(../img/icon_plus_blue.png) no-repeat 100% 50% / 15px;}